
img {
    width: 10px;
    height: 10px;
    text-align: 1em auto;
}

div {

    border: 1px solid ;
    text-align: center;
    margin: 0.1em auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    
} 
